body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #f5f8fa;
}

.header {
    text-align: center;
    margin-bottom: 16px;
}

.header-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.statusbar {
    color: white;
    padding: 16px;
    border-radius: 3px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.3s;
}

.statusbar-operational {
    background-color: #3da751;
}

.statusbar-issues {
    background-color: #4990e2
}

.statusbar-outage {
    background-color: #d94430
}

.statusbar-time {
    background-color: transparent;
    color: white;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    text-align: right;
    padding: 0px;
}

.status {
    font-size: 20px;
    margin: 0;
    font-weight: normal;
}

.components {
    box-shadow: 0px 0px 33px -32px rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    background-color: white;
    padding: 16px;
}

.component {
    background-color: #f7f8f9;
    padding: 8px 12px;
    border-radius: 3px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    /* font-size: 13px;
    transition: 0.3s;

    width: 100%;
    height: 44px; */
}

.component:not(:last-child) {
    margin-bottom: 8px;
}

.component-status {
    padding: 5px 12px;
    border-radius: 16px;
    font-size: 13px;
    transition: all 0.3s ease 0s;
}

.component-operational {
    color: #247234;
    background-color: rgba(61, 167, 81, 0.1);
}

.component-issues {
    color: #2f5888;
    background-color: rgba(73, 144, 226, 0.1);
}

.component-partial {
    color: #74582a;
    background-color: rgba(255, 198, 103, 0.1);
}

.component-major {
    color: #8e3b31;
    background-color: rgba(217, 68, 48, 0.1);
}

.component-unknown {
    color: #6e6b6b;
    background-color: rgba(177, 177, 177, 0.1);
}

div {
    display: block;
}

.code {
    white-space: pre-wrap;
    display: block;
}

.main {
    max-width: 1008px;
    padding: 16px;
    margin: 16px auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    -webkit-box-pack: justify;
}

.footer-branding {
    color: rgb(110, 107, 107);
    font-size: 13px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    display: block;
}

.footer-branding:hover {
    opacity: 0.9;
}

.incidents-title {
    padding: 0 16px;
    font-size: 20px;
    margin-bottom: 16px;
}

.incidents-container {
    margin: 32px auto 0 auto;
    max-width: 1040px;
}

.incident {
    transition: 0.3s;
    border-left: 16px solid rgba(177, 177, 177, 0.2);
    background-color: white;
    border-radius: 3px;
    padding: 16px;
    box-shadow: 0px 0px 33px -32px rgba(0, 0, 0, 0.75);
    margin-top: 8px;
}

.incident:not(:last-child) {
    margin-bottom: 16px;
}

.incident-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.incident-title {
    margin-right: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #1e1e1e;
}

.incident-comment {
    white-space: break-spaces;
    color: #1e1e1e;
}

.incident-status {
    padding: 5px 12px;
    border-radius: 16px;
    font-size: 13px;
    transition: 0.3s;
}

.incident-status-active {
    color: #2f5888;
    background-color: rgba(73, 144, 226, 0.1);
}

.incident-status-closed {
    color: #6e6b6b;
    background-color: rgba(177, 177, 177, 0.1);
}

.incident-created {
    font-size: 13px;
    color: #6e6b6b;
    font-weight: bold;
}